<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIxA_ndqgTfKCNCcF6n8x1ag0iQ7auMaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>814930153019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.flechemoica</string>
	<key>PROJECT_ID</key>
	<string>flechemoica</string>
	<key>STORAGE_BUCKET</key>
	<string>flechemoica.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814930153019:ios:d9c8a441884c2ccb2d161e</string>
	<key>DATABASE_URL</key>
	<string>https://flechemoica-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
